<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mql.springcloud.dao.DeptMapper">
	<resultMap id="BaseResultMap" type="com.mql.springcloud.entity.Dept">
		<result column="id" jdbcType="BIGINT" property="id"/>
		<result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
		<result column="db_source" jdbcType="VARCHAR" property="dbSource"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
	</resultMap>

	<select id="queryById" resultMap="BaseResultMap" parameterType="Long">
		select id,dept_name,db_source,create_time from dept_table where id=#{id};
	</select>
	<select id="queryAll" resultMap="BaseResultMap">
		select id,dept_name,db_source,create_time from dept_table
	</select>
	<insert id="addDept" parameterType="com.mql.springcloud.entity.Dept">
		insert into dept_table(dept_name,db_source) 
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="deptName != null">
				#{deptName},
			</if>
			<choose>
			    <when test="dbSource != null">
			    	#{dbSource}
			    </when>
			    <otherwise>
			       DATABASE()
			    </otherwise>
			</choose>
		</trim>
	</insert>
</mapper>